<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @substitution_type.name %>
</p>

<%= link_to 'Edit', edit_substitution_type_path(@substitution_type) %> |
<%= link_to 'Back', substitution_types_path %>
