# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8693f9daaf61d815ac2a1aea051714cb6b08ed36ee5b0a8c678f6ca648d4331aad8cbd8242b847bb46464943a3adf8f47fc2795684203e73d8cf2b3fe34c686b

test:
  secret_key_base: a5517d9527450a873d96536637380f179931bd4231ded7f1345ad7be5ad359327362473125d36b53837171b7fef0ddc0be3692b026181ce8b08e174dc440bb5b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
